---
// src/components/sections/Websites.astro
import { AnimatedSection } from "../../components/ui/AnimatedSection.tsx";
import type { CONTENT } from "../../data/portfolioData";
// Importamos el componente de Carrusel de React
import WebsiteCarousel from "../ui/WebsiteCarousel.tsx"; 

interface Props {
    content: typeof CONTENT['es']; 
}

const { content } = Astro.props;
const WEBSITES = content.WEBSITES;
const UI = content.UI;
---

<section id="sitios-web" class="max-w-full mx-auto px-6 py-16">
  <AnimatedSection client:visible>
    <h3 class="text-3xl font-bold text-sky-400 mb-12 text-center">{UI.websitesTitle}</h3>
  </AnimatedSection>

  <WebsiteCarousel items={WEBSITES} client:load />

</section>